{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href={% static 'Autoescuela/estilos/css/custom.css'%}>
    <title>Autoescuela</title>
</head>
<body>
    
  <!-- NAV -->
  <nav class="navbar navbar-expand-sm bg-body-tertiary">
    <div class="container-fluid"> 
      <a href="{% url 'index' %}">
        <img src="{% static 'Autoescuela/img/logo-autoescuela-2_1.png' %}" width="100px">
    </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'cursos'%}">Cursos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'FAQS' %}">FAQ's</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'profesores' %}">Profesores</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'contacto' %}">Contacto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'miscompras' %}">Mis Compras</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'perfil' %}">Perfil</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Iniciar Sesión
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'inicioSesionEstud' %}">Estudiante</a></li>
              
              <li><a class="dropdown-item" href="{% url 'perfilAdmin' %}">Administracion</a></li>
            </ul>
          </li>
        </ul>
        <ul class="navbar-nav d-flex flex-row me-1">
          <li class="nav-item me-3 me-lg-0">
            <a class="nav-link" href="{% url 'interfaz_de_compra' %}"><i class="bi bi-cart"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- NAV -->




  <section class="d-flex justify-content-start">
    <div class="container m-2">
        <a href="{% url 'index' %}" class="btn boton-volver"><i class="bi bi-arrow-left"></i></a>
    </div>
</section>








  <section class="h-100">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-10 col-xl-11">
          <div class="card" style="border-radius: 10px;">
            <div class="card-header px-4 py-5">
              <h5 class="text-muted mb-0">Mis compras:</h5>
            </div>
            <div class="card-body p-4">
              <div class="d-flex justify-content-between align-items-center mb-4">
                <p class="lead fw-normal mb-0" style="color:    #000000;">Compras</p>
              </div>
              <div class="card shadow-0 border mb-4">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-1 text-center d-flex justify-content-center align-items-center">
                      <p class="text-muted mb-0">Curso Clase B</p>
                    </div>
                    <div class="col-md-1 text-center d-flex justify-content-center align-items-center">
                      <p class="text-muted mb-0 small">Precio:</p>
                    </div>
                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                      <p class="text-muted mb-0 small">$202.300</p>
                    </div>
                    <div class="col-md-1 text-center d-flex justify-content-center align-items-center">
                        <p class="text-muted mb-0 small">Fecha de compra:</p>
                    </div>
                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                        <p class="text-muted mb-0 small">13/02/2023</p>
                    </div>
                    <div class="col-md-1 text-center d-flex justify-content-center align-items-center">
                        <p class="text-muted mb-0 small">Estado de curso:</p>
                    </div>
                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                        <p class="text-muted mb-0 small">Completado</p>
                    </div>
                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                      <a class="btn btn-primary" href="#" role="button">Factura</a>
                  </div>
                  </div>
                  <hr class="mb-4" style="background-color: #e0e0e0; opacity: 1;">
                  <div class="row d-flex align-items-center">
                  </div>
                </div>
              </div>
              <div class="card shadow-0 border mb-4">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-1 text-center d-flex justify-content-center align-items-center">
                      <p class="text-muted mb-0">Curso Clase A2</p>
                    </div>
                    <div class="col-md-1 text-center d-flex justify-content-center align-items-center">
                      <p class="text-muted mb-0 small">Precio:</p>
                    </div>
                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                      <p class="text-muted mb-0 small">$300.000</p>
                    </div>
                    <div class="col-md-1 text-center d-flex justify-content-center align-items-center">
                        <p class="text-muted mb-0 small">Fecha de compra:</p>
                    </div>
                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                        <p class="text-muted mb-0 small">13/02/2023</p>
                    </div>
                    <div class="col-md-1 text-center d-flex justify-content-center align-items-center">
                        <p class="text-muted mb-0 small">Estado de curso:</p>
                    </div>
                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                        <p class="text-muted mb-0 small">Completado</p>
                    </div>
                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                      <a class="btn btn-primary" href="#" role="button">Factura</a>
                  </div>
                  </div>
                  <hr class="mb-4" style="background-color: #e0e0e0; opacity: 1;">
                  <div class="row d-flex align-items-center">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>





















  <!-- Footer -->
  <footer class="text-center text-lg-start bg-body-tertiary text-muted">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>Conecta con nosotros en nuestras redes sociales:</span>
      </div>
      <!-- Left -->
  
      <!-- Right -->
      <div>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-github"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>Autoescuela
            </h6>
            <p>
              Here you can use rows and columns to organize your footer content. Lorem ipsum
              dolor sit amet, consectetur adipisicing elit.
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Autoescuela
            </h6>
            <p>
              <a href="{% url 'cursos' %}" class="text-reset">Cursos</a>
            </p>
            <p>
              <a href="{% url 'FAQS' %}" class="text-reset">FAQ´s</a>
            </p>
            <p>
              <a href="{% url 'profesores' %}" class="text-reset">Profesores</a>
            </p>
            <p>
              <a href="{% url 'contacto' %}"class="text-reset">Contacto</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Usuario
            </h6>
            <p>
              <a href="{% url 'perfil' %}" class="text-reset">Perfil</a>
            </p>
            <p>
              <a href="{% url 'miscompras' %}" class="text-reset">Mis Compras</a>
            </p>
            <p>
              <a href="{% url 'inicioSesionEstud' %}" class="text-reset">Iniciar Sesión</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contacto</h6>
            <p><i class="fas fa-home me-3"></i>Los nogales #335</p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              escuelachillan@gmail.com
            </p>
            <p><i class="fas fa-phone me-3"></i>22 2256368</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2024 Copyright:
      <a class="text-reset fw-bold" href="https://mdbootstrap.com/">Autoescuela.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->

  <script src="{% static 'Autoescuela/estilos/js/custom.js' %}">





</body>
</html>